# R数据科学
---

## 使用tibble实现简单数据框

### 创建tibble

- as_tibble函数

- tibble函数

In [1]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.1.1     √ purrr   0.3.2
√ tibble  2.1.2     √ dplyr   0.8.1
√ tidyr   0.8.3     √ stringr 1.4.0
√ readr   1.3.1     √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
# 创建tibble
# 1. as_tibble
tdata <- as_tibble(iris)

# 2. tibble
tdata <- tibble(x = 1:5, y = 1, z = x ^ 2 + y)

tdata

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

### 转换为data.frame

- as.data.frame函数

## 使用readr进行数据导入

- read.csv及其函数

- haven函数可以读取spss、stata和sas文件

- readxl可以读取Excel文件

## 使用dplyr进行数据转换

- 使用filter()筛选行

In [6]:
library("nycflights13")

jan1 <- dplyr::filter(flights, month == 1, day == 1)

- 使用arrange()排列行

In [10]:
df <- tibble(x = c(5, 2, NA))

arrange(df,desc(x))

  x
1  5
2  2
3 NA

- 使用select()选择列

In [11]:
df <- select(flights, time_hour, air_time, everything())

- 使用mutate()添加新变量

In [12]:
flights_sml <- select(flights,
                     year:day,
                     ends_with("delay"),
                     distance,
                     air_time)

df <- mutate(flights_sml,
            gain = arr_delay - dep_delay,
            speed = distance / air_time * 60)

- 使用summarize()进行分组摘要

In [14]:
by_dest <- group_by(flights, dest)

delay <- summarize(by_dest,
                  count = n(),
                  dist = mean(distance, na.rm = TRUE),
                  delay = mean(arr_delay, na.rm = TRUE))

delay <- dplyr::filter(delay, count > 20, dest != "HNL")

## 使用stringr处理字符串

### 字符串基础

- 字符串长度 —— str_length函数

- 字符串组合 —— str_c函数

- 字符串取子集 —— str_sub函数

### 使用正则表达式进行模式匹配

- str_view和str_view_all函数

- 匹配检测 —— str_detect函数

- 选取子集 —— str_subset函数

- 提取匹配内容 —— str_extract函数

- 替换匹配内容 —— str_replace和str_replace_all函数

## 使用purrr实现迭代

### 映射函数

- map() —— 用于输出列表

- map_lgl() —— 用于输出逻辑型向量

- map_int()

- map_dbl()

- map_chr()